:root {
    --main-red: #E52D2A;
}
html, body {
    min-height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
.nav-wrap h1{
    display: none;
}
.title-wrap{
    width: 100%;
    position: relative;
    background-color: var(--main-red);
}
.main-title{
    width: 100%;
    text-align: center;
    padding: 2% 0;
    color: white;
}
.sub-title{
    text-align: center;
    grid-column: span 2;
    color: var(--main-red);
    padding: 0 0 7% 0;
}
.line-left, .line-right {
    position: absolute;
    fill: var(--main-red);
}
.line-left {
    top: 99%;
}
.line-right {
    top: 98%;
    transform: scaleY(-1);
    z-index: 1;
}
.style .content, .team .team-member-desc, .team .vodstvo-desc, .about-us .info{
    text-align: justify;
}
.buffer {
    height: 50px;
    background-color: white;
    transition: 100ms linear;
    display: block;
}
/*********************************
----NAVIGATION----
*********************************/
nav{
    position: fixed;
    width: 100%;
    z-index: 4;
    background-color: white;
    box-shadow: 0px 4px 0px rgba(229, 45, 42, 1);
}
.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    height: 74px;
}
#logo {
    height: 60px;
    margin-left: 20px;
    margin-top: 6px;
}
.nav-wrap ul {
    margin-right: 10px;
    margin-top: 26px;
}
.navigationTwo{
    display: none;
}
.navigation li, .navigationTwo li{
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}
.navigation li:last-child, .navigationTwo li:last-child {
    margin-right: 0;
}
.navigation li a, .navigationTwo li a {
    font-weight: bold;
    padding: 5px 15px;
    transition: 0.3s;
    color: var(--main-red);
    background-color: white;
    text-decoration: none;
}
.navigation a:hover, .navigationTwo a:hover {
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 7px 15px;
}
.navigation-toggle .fa-bars, .navigation-toggle .fa-times {
    color: var(--main-red);
    font-size: 20px;
    padding: 20px;
    text-align: right;
    display: none;
}
.navigationTwo-toggle .fa-bars, .navigationTwo-toggle .fa-times {
    color: var(--main-red);
    font-size: 20px;
    padding: 20px;
    text-align: right;
    display: none;
}
.toggle-active {
    background-color: gray;
}
.navigation li .navBtn-active{
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 7px 15px;
}
/*********************************
----PICTURE CAROUSEL----
*********************************/
.img-wrap {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.carouselImg {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 300ms cubic-bezier(1, 0.03, 0.66, 1.01);
    -o-transition: 300ms cubic-bezier(1, 0.03, 0.66, 1.01);
    -moz-transition: 300ms cubic-bezier(1, 0.03, 0.66, 1.01);
    -webkit-transition: 300ms cubic-bezier(1, 0.03, 0.66, 1.01);
}
.pic-caption{
    position: absolute;
    top: 42%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 42%;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgba(229, 45, 42, .8);
    border-radius: 100px;
    padding: 20px 40px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(224, 26, 26, 0.9);
}
.dot-wrap {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-active {
    background-color: white;
    transform: scale(1.2);
}
.carouselImg--active {
    opacity: 1;
}
.img0{
    background-image: url('../img/carousel/UDSspletna0-comp-1600.jpg');
}
.img1{
    background-image: url('../img/carousel/UDSspletna1-comp-1600.jpg');
}
.img2{
    background-image: url('../img/carousel/UDSspletna2-comp-1600.jpg');
}
/*********************************
----DANCE STYLES----
*********************************/
.style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content{
    padding: 0 0% 0 0%;
    margin: 0 20px;
    display: grid;
    align-content: center;
}
.pic img{
    width: 100%;
    height: 100%;
}
.pic{
    height: 100%;
}
/*********************************
----SCHEDULE----
*********************************/
.schedule1 {
    background-image: url('../img/UDS-bg-1600.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%; 
}
.schedule_2 {
    display: none;
}
.schedule_wrap {
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    padding: 20px 20px 60px 20px;
    position: relative;
    z-index: 2;
}
.sch {
    margin: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
}
.sch_day{
    text-align: center;
    background: none;
    height: auto;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.day_one, .day_two, .day_three, .day_four, .day_five{
    display: grid;
    grid-template-rows: repeat(5, minmax(10%, 1fr));
}
.sch_mladinci{
    grid-row: 4/5;
}
.sch_rekreativa{
    grid-row: 5/-1;
}
.day_two_mix{
    grid-row: 2/3;
}
.day_two_pionirji{
    grid-row: 3/4;
}
.day_two_clani{
    grid-row: 5/-1;
}

.day_three_jazz1{
    grid-row: 4/5;
}

.day_three_jazz2{
    grid-row: 5/-1;
}

.day_four_pionirji, .day_five_mix2{
    grid-row: 3/4;
}
.day_four_mladinci, .day_five_rekreativa{
    grid-row: 4/5;
}
.day_four_clani, .day_five_balet3{
    grid-row: 5/-1;
}
.sch-class{
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0 0 0;
}
.teacher, .class-age {
    font-size: 14px;
    margin: 5px 0 0 0;
}
.hour{
    color: var(--main-red);
    font-weight: bolder;
    margin: 30px 0;
}
.timetable{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
}
.dance_style{
    justify-content: start;
}
.hour{
    display: grid;
    justify-content: end;
}
.schedule_2 h3 {
    color: var(--main-red);
}
/*********************************
----EKIPA----
*********************************/
.team-wrap{
    display: grid;
    grid-template-columns: repeat(2, minmax(10%, 1fr));
    text-align: center;
    grid-gap: 2.5%;
    padding-top: 10%;
}
.team {
    margin-bottom: 15%;
}
.team-member-desc{
    margin-bottom: 6px;
}
.team-member-social{
    text-align: center;
}
.team-member-social a{
    color: var(--main-red);
    font-size: 2em;
    margin-right: 20px;
}
.team-member-social a:last-child{
    margin-right: 0;
}
.team-member-name, .vodstvo-name{
    font-size: 1.5em;
    margin: 2% 0 0 0;
}
.vodstvo-desc{
    width: 70%;
    margin: 14px auto;
}
.portrait img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.lead {
    grid-column: span 2;
}
/*********************************
----ABOUT US----
*********************************/
.about-us{
    background-image: url("../img/topography.svg");
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    background-attachment: fixed;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 56.25% 16:9 */
	padding-top: 25px;
    height: 0;
    margin: 0 20px 5% 20px;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    border: none;
}
.info p{
    margin: 0 20px;
}
.contact-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact_icon{
    font-size: 2em;
    color: var(--main-red);
    margin-right: 10px;
    text-align: center;
}
.icon-wrap{
    display: flex;
    flex-direction: column;
}
.icon-wrap i{
    margin: 10px 20px 10px 0;
}
.contact-container p{
    margin: 30px 0;
    color: var(--main-red);
    font-weight: bold;
}
.map{
    margin: 0 20px;
}
.map iframe{
    border: none;
    width: 100%; 
    height: 450px;
}
/*********************************
----FOOTER----
*********************************/
footer .footer-social{
    background-color: var(--main-red);
    filter: brightness(150%);
    padding: 5%;
    text-align: center;
}
.social_icon-footer{
    color: white;
    font-size: 2em;
}
.footer-social a{
    margin-right: 40px;
}
.footer-social a:last-child{
    margin-right: 0;
}
footer .made-by{
    background-color: var(--main-red);
    text-align: center;
    padding: 2%;
    color: white;
    font-size: 11px;
}
footer .jt-logo{
    width: 24px;
    height: auto;
    margin-right: 10px;
}
footer .ut-logo{
    width: 24px;
    height: auto;
}
/*********************************
----MEDIA QUERIES----
*********************************/
/*----SCHEDULE BREAKPOINT----*/
@media(max-width:1054px) {
    .prev, .next {
        display: none;
    }
    .schedule1 {
        display: none;
    }
    .schedule_2 {
        display: block;
        padding-bottom: 5%;
    }

    .schedule_2 h3{
        padding: 4% 20px 0 20px;
        margin-bottom: 5px;
    }
    .schedule_wrap {
        display: grid;
        grid-template-columns: repeat(1, minmax(10%, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
    .timetable{
        padding: 0 20px;
    }
    .petek .timetable:last-child{
        border-bottom: none;
    }
    .hour {
        margin: 16px 0;
    }
}
@media(max-width:800px) {
    .pic-caption{
        padding: 20px 30px;
    }
    .styles, .schedule1, .schedule_2, .team-wrap, .about-us{
        padding-bottom: 10%;
    }
    .img0{
        background-image: url('../img/carousel/UDSspletna0-comp-800.jpg');
    }
    .img1{
        background-image: url('../img/carousel/UDSspletna1-comp-800.jpg');
    }
    .img2{
        background-image: url('../img/carousel/UDSspletna2-comp-800.jpg');
    }
    .style{
        display: grid;
        grid-template-areas:
        "p1"
        "p2" 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
    }
    .style .content{
        padding-top: 10%;
    }
    .poroke .content {
        grid-area: p1;
        grid-column: span 2;
    }
    .poroke .pic {
        grid-area: p2;
        grid-column: span 2;
    }
    .hiphop .content{
        grid-area: a;
        grid-column: span 2;
    }
    .hiphop .pic {
        grid-area: b;
        grid-column: span 2;
    }
    .jazz .content{
        grid-area: c;
        grid-column: span 2;
    }
    .jazz .pic {
        grid-area: d;
        grid-column: span 2;
    }
    .balet .content{
        grid-area: e;
        grid-column: span 2;
    }
    .balet .pic {
        grid-area: f;
        grid-column: span 2;
    }
    .break .content{
        grid-area: g;
        grid-column: span 2;
    }
    .break .pic {
        grid-area: h;
        grid-column: span 2;
    }
    .kids .content{
        grid-area: i;
        grid-column: span 2;
    }
    .kids .pic{
        grid-area: j;
        grid-column: span 2;
    }
    .team-wrap{
        display: grid;
        grid-template-areas: 
        "k"
        "l"
        "m"
        "n"
        "o"
        "p"
        "r"
        "s"
        "t";
    }
    .pedagogi{
        grid-area: k;
        grid-column: span 2;
    }
    .team-member-1{
        grid-area: l;
        grid-column: span 2;
    }
    .team-member-2{
        grid-area: m;
        grid-column: span 2;
    }
    .team-member-3{
        grid-area: n;
        grid-column: span 2;
    }
    .team-member-4{
        grid-area: o;
        grid-column: span 2;
    }
    .team-member-5{
        grid-area: p;
        grid-column: span 2;
    }
    .team-member-6{
        grid-area: r;
        grid-column: span 2;
    }
    .team-member-7{
        grid-area: s;
        grid-column: span 2;
    }
    .vodstvo{
        grid-area: t;
        grid-column: span 2;
    }
    .-us{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .video-container{
        margin: 0 0 5% 0;
    }
    .team-member-desc{
        width: 70%;
        margin: 14px auto;
    }
    .map{
        margin: 0;
    }
}
@media screen and (max-width: 670px) {
    /*----NAVIGATION MOBILE---*/
    .navigation-toggle .fa-bars, .navigation-toggle .fa-times {
        display: block;
        margin-top: 13px;
    }
    .buffer {
        display: none;
    }
    .navigation a:hover, .navigationTwo a:hover{
        background-color: var(--main-red);
        color: white;
        border: none;
        border-radius: 100px;
        padding: 5px 10px;
    }
    .navigation a:hover, .navigationTwo a:hover{
        padding: 30px 0;
        background-color: transparent;
        color: white;
    }
    .navigation, .navigationTwo {
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, -390px);
        position: absolute;
        top: 74px;
        width: 100%;
        transition: transform 100ms linear;
    }
    .navigation, .navigationTwo {
        background-color: rgba(224, 26, 26, 0.9);
    }
    .navigation li, .navigationTwo li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 0;
        border-bottom: 1px solid var(--main-red);
    }
    .navigation li a, .navigationTwo li a {
        padding: 30px 0;
        background-color: transparent;
        color: white;
    }
    .nav-wrap ul {
        margin: 0;
        padding: 0;
    }
    .active {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
        transform: scale(1);
        position: absolute;
        z-index: -1;
    }
    .navigation {
        display: none;
    }
    .navigationTwo {
        display: block;
    }
    .pic-caption{
        padding: 20px 30px;
        font-size: 20px;
    }
    .social {
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
    }
    .social_icon {
        color: white;
        font-size: 20px;
    }
    .team-member-desc, .vodstvo-desc{
        width: 100%;
    }
}