:root {
    --main-red: #E52D2A;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.buffer {
    height: 50px;
    background-color: white;
    transition: 100ms linear;
    display: block;
}
/*----NAVIGATION----*/
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    height: 74px;
}
#logo {
    height: 60px;
    margin-left: 20px;
    margin-top: 6px;
}
.nav-wrap ul {
    margin-right: 10px;
    margin-top: 26px;
}
.navigation li {
    display:inline;
    list-style-type: none;
    margin-right: 30px;
}
.navigation li:last-child {
    margin-right: 0;
}
.navigation li a {
    font-weight: bold;
    padding: 5px 15px;
    transition: 0.3s;
    color: var(--main-red);
    background-color: white;
    text-decoration: none;
}
.navigation a:hover {
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 7px 15px;
}
.navigation-toggle .fa-bars, .navigation-toggle .fa-times {
    color: var(--main-red);
    font-size: 20px;
    padding: 20px;
    text-align: right;
    display: none;
}
.toggle-active {
    background-color: gray;
}

/*----PICTURE CAROUSEL----*/
.img-wrap {
    width: 100%;
    height: 100%;
}
.bg {
    background-image: url("../img/0.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* TRANSITION */
    transition: 500ms cubic-bezier(1, 0.03, 0.66, 1.01);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(224, 26, 26, 0.9);
}
.dot-wrap {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-active {
    background-color: white;
    transform: scale(1.2);
  }


  /*----STYLES----*/
/*
  .style {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 5%;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    
}

.styles{
    display: grid;
    grid-template-areas: 
        "a a b"
        "c d e";
    grid-gap: 20px;
    padding: 20px;
    
}

.hiphop{
    grid-area: a;
}

.jazz{
    grid-area: b;
}

.balet{
    grid-area: e;
}

.break{
    grid-area: c;
}

.kids{
    grid-area: d;
}

.kids {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: minmax(50%, 1fr);
}

*/



.style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.content{
    padding: 0 10% 0 10%;
}

.pic img{
    width: 100%;
    height: 100%;
}



 /*----STYLES END----*/

/*----SCHEDULE----*/
.schedule2 {
    display: none;
}

.schedule_wrap {
    display: grid;
    grid-template-columns: repeat(6, minmax(10%, 1fr));
    padding: 20px;
    border: 1px solid black;
}

.sch {
    border: 1px solid black;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-items: center;

}

.sch_day{
    text-align: center;
    background: none;
    height: auto;
    border: none;
}

.hour{
    color: red;
}

/*----SCHEDULE END----*/





@media screen and (max-width: 670px) {
    /*----NAVIGATION MOBILE---*/
    .navigation-toggle .fa-bars, .navigation-toggle .fa-times {
        display: block;
        margin-top: 13px;
    }
    .buffer {
        display: none;
    }
    .navigation a:hover {
        background-color: var(--main-red);
        color: white;
        border: none;
        border-radius: 100px;
        padding: 5px 10px;
    }
    .navigation a:hover {
        padding: 30px 0;
        background-color: transparent;
        color: white;
    }
    .navigation {
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, -390px);
        position: absolute;
        top: 74px;
        width: 100%;
        transition: transform 100ms linear;
    }
    .navigation {
        background-color: rgba(224, 26, 26, 0.9);
    }
    .navigation li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 0;
        border-bottom: 1px solid var(--main-red);
    }

    .navigation li a {
        padding: 30px 0;
        background-color: transparent;
        color: white;
    }

    .nav-wrap ul {
        margin: 0;
        padding: 0;
    }

    .active {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
        transform: scale(1);
        position: absolute;
        z-index: -1;
    }
}

/*----SCHEDULE BREAKPOINT----*/
@media(max-width:1054px) {
    .schedule1 {
        display: none;
    }
    .schedule2 {
        display: block;
    }

    .schedule_wrap {
        display: grid;
        grid-template-columns: repeat(1, minmax(10%, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}