html, body, ul, li {
    margin: 0px;
    padding: 0px;
}
header {
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
li {
    display:inline;
    list-style-type: none;
    margin-right: 0;
}